@import "_custom.scss";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.color-blocks{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;

	.single-block{
	  height: 0;
	  background-color: #ccc;
	  transition: height 1s, background-color 1s;
	}
}